.inputTask {
  display: grid;
  grid-template-columns: 1fr 3.125rem 3.125rem;
  margin-bottom: 1rem;
  background: var(--bg-grey);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}
.inputTaskWraper {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
}
.inputTaskTitle {
  padding-left: 20px;
  line-height: 1.2;
}
.inputTaskTitleDone {
  padding-left: 20px;
  text-decoration: line-through;
}
.inputTaskEditTitle {
  font: 1rem/1em "Comfortaa", "Roboto", sans-serif;
  width: 100%;
  border: none;
  margin-left: 20px;
  outline: none;
  background: none;
  box-shadow: -3px 5px 0 -3px var(--blue-color);
}
.inputTaskEdit, .inputTaskRemove, .inputTaskSave {
  display: block;
  height: 100%;
  border: none;
  background: none no-repeat center center;
  cursor: pointer;
  padding: 0;
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
}
.inputTaskEdit:hover, .inputTaskRemove:hover, .inputTaskSave:hover {
  opacity: 0.7;
}
.inputTaskEdit {
  background-image: url("./images/edit.svg");
}
.inputTaskRemove {
  background-image: url("./images//trash.svg");
}
.inputTaskSave {
  background-image: url("./images/check.svg");
}

.inputTaskLabel {
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.inputTaskCheckbox {
  visibility: hidden;
  display: none;
}

.inputTaskCheckbox:checked ~ .checkbox {
  transform: rotate(45deg);
  width: 14px;
  margin-left: 12px;
  border-color: var(--blue-color);
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 0;
}

.inputTaskCheckbox:checked:disabled ~ .checkbox {
  transform: rotate(45deg);
  width: 14px;
  margin-left: 12px;
  border-color: var(--checkbox-checked);
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.checkbox {
  display: block;
  width: 100%;
  width: inherit;
  height: inherit;
  border: 3px solid var(--checkbox);
  border-radius: var(--border-radius);
  transition: all 0.375s;
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}

.inputTaskCheckbox:disabled ~ .checkbox {
  border: 3px solid var(--chekbox-disabled);
}